@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.josefin-sans -<uniquifier> {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.calculator {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.calculator input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.calculator .btn {
    width: 25%;
    padding: 15px;
    font-size: 20px;
}
