@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}

body {
    background-color: #6badf5;
}

.calculator {
    max-width: 350px;
    margin: auto;
    margin-top: 50px;
    text-shadow: #77b7f8 10px;
    background-color: #bcd7f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #4282c2;
    text-shadow: 2px 2px #4282c2;

}

.calculator input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    box-shadow: 2px 2px #9da5ad;
}

.btn {
    width: 100%;
    height: 100%;
    padding: 10%;
    font-size: 20px;
    box-shadow: 2px 2px #4282c2;

}

.row {
    padding: 5px;
}